<section class="hero-section container">
    <div class="hero-container">
        <div class="hero-title-btn">
            <h1 class="hero-title">Reviving the<br class="per"> traditional
                <span class="hero-title-yel">Ukrainian</span>
                artistry in every stitch.
            </h1>
            <a href="#your-order-section" class="hero-button-link">
                <button class="hero-button" type="button">Order
                    <svg class="hero-btn-icon" width="26" height="10" aria-label="icon order">
                        <use href="/img/hero/icons.svg#icon-arrow"></use>
                    </svg>
                </button>
            </a>
        </div>
        <div class="hero-star-text-container">
            <svg class="hero-star" width="52" height="51" aria-label="icon star">
                <use href="/img/hero/icons.svg#icon-star"></use>
            </svg>
            <span class="hero-star-text">all embroidery is made by hand</span>
        </div>
        <img class="hero-girl" srcset="
            /img/hero/girl_desktop.jpg 392w,
            /img/hero/girl_desktop@2x.jpg 784w,
            /img/hero/girl_tablet.jpg 413w,
            /img/hero/girl_tablet@2x.jpg 826w,
            /img/hero/girl_mobile.jpg 335w,
            /img/hero/girl_mobile@2x.jpg 670w"
            sizes="(min-width: 1280px) 392px, (min-width: 768px) 413px, (min-width: 375px) 335px"
            src="/img/hero/girl_mobile.jpg"
            alt="girl"
            width="335"
            height="545">
        <img class="hero-container-ornament"
            srcset="/img/hero/ukraine@2x.jpg 2x"
            src="/img/hero/ukraine.jpg"
            alt="ukraine ornament"
            width="139"
            height="98">
    </div>
</section>