<section class="our-collection">
  <div class="container">
    <h2 class="our-collection-title section-title">Our collection</h2>
    <ul class="our-collection-cards">
      <li class="our-collection-card">
        <div class="our-collection-img-box">
          <img
            srcset="
              ../img/Our-collection/collection-mobile/w-poltava-mobile.jpg                335w,
              ../img/Our-collection/collection-mobile/w-poltava-mobile@2x.jpg             670w,
              ../img/Our-collection/collection-tablet/w-poltava-tablet.jpg                342w,
              ../img/Our-collection/collection-tablet/w-poltava-tablet@2x.jpg             684w,
              ../img/Our-collection/collection-desktop_1280/w-poltava-desktop_1280.jpg    347w,
              ../img/Our-collection/collection-desktop_1280/w-poltava-desktop_1280@2x.jpg 694w,
              ../img/Our-collection/collection-desktop_1440/w-poltava-desktop_1440.jpg    400w,
              ../img/Our-collection/collection-desktop_1440/w-poltava-desktop_1440@2x.jpg 800w
            "
            sizes="
                (min-width: 1440px) 400px,
                (min-width: 1280px) 347px,
                (min-width: 768px) 342px,
                (max-width: 767px) 335px
                "
            src="../img/Our-collection/collection-mobile/w-poltava-mobile.jpg"
            alt="August Poltava women's blousering"
          />
        </div>
        <div class="our-collection-card-price">
          <h3 class="our-collection-price-title">
            August Poltava women's blouse
          </h3>
          <p class="our-collection-price-text">3300 UAN</p>
        </div>
      </li>
      <li class="our-collection-card">
        <div class="our-collection-img-box">
          <img
            srcset="
              ../img/Our-collection/collection-mobile/w-gorgany-mobile.jpg                335w,
              ../img/Our-collection/collection-mobile/w-gorgany-mobile@2x.jpg             670w,
              ../img/Our-collection/collection-tablet/w-gorgany-tablet.jpg                342w,
              ../img/Our-collection/collection-tablet/w-gorgany-tablet@2x.jpg             684w,
              ../img/Our-collection/collection-desktop_1280/w-gorgany-desktop_1280.jpg    347w,
              ../img/Our-collection/collection-desktop_1280/w-gorgany-desktop_1280@2x.jpg 694w,
              ../img/Our-collection/collection-desktop_1440/w-gorgany-desktop_1440.jpg    400w,
              ../img/Our-collection/collection-desktop_1440/w-gorgany-desktop_1440@2x.jpg 800w
            "
            sizes="
                (min-width: 1440px) 400px,
                (min-width: 1280px) 347px,
                (min-width: 768px) 342px,
                (max-width: 767px) 335px
                "
            src="../img/Our-collection/collection-mobile/w-gorgany-mobile.jpg"
            alt="Gorgany women's blouse"
          />
        </div>
        <div class="our-collection-card-price">
          <h3 class="our-collection-price-title">Women's blouse Gorgany</h3>
          <p class="our-collection-price-text">3350 UAN</p>
        </div>
      </li>
      <li class="our-collection-card">
        <div class="our-collection-img-box">
          <img
            srcset="
              ../img/Our-collection/collection-mobile/w-crimea-mobile.jpg                335w,
              ../img/Our-collection/collection-mobile/w-crimea-mobile@2x.jpg             670w,
              ../img/Our-collection/collection-tablet/w-crimea-tablet.jpg                342w,
              ../img/Our-collection/collection-tablet/w-crimea-tablet@2x.jpg             684w,
              ../img/Our-collection/collection-desktop_1280/w-crimea-desktop_1280.jpg    347w,
              ../img/Our-collection/collection-desktop_1280/w-crimea-desktop_1280@2x.jpg 694w,
              ../img/Our-collection/collection-desktop_1440/w-crimea-desktop_1440.jpg    400w,
              ../img/Our-collection/collection-desktop_1440/w-crimea-desktop_1440@2x.jpg 800w
            "
            sizes="
                (min-width: 1440px) 400px,
                (min-width: 1280px) 347px,
                (min-width: 768px) 342px,
                (max-width: 767px) 335px
                "
            src="../img/Our-collection/collection-mobile/w-crimea-mobile.jpg"
            alt="Crimea women's blouse"
          />
        </div>
        <div class="our-collection-card-price">
          <h3 class="our-collection-price-title">Women's blouse Crimea</h3>
          <p class="our-collection-price-text">4000 UAN</p>
        </div>
      </li>
      <li class="our-collection-card">
        <div class="our-collection-img-box">
          <img
            srcset="
              ../img/Our-collection/collection-mobile/m-verkhovina-mobile.jpg                335w,
              ../img/Our-collection/collection-mobile/m-verkhovina-mobile@2x.jpg             670w,
              ../img/Our-collection/collection-tablet/m-verkhovina-tablet.jpg                342w,
              ../img/Our-collection/collection-tablet/m-verkhovina-tablet@2x.jpg             684w,
              ../img/Our-collection/collection-desktop_1280/m-verkhovina-desktop_1280.jpg    347w,
              ../img/Our-collection/collection-desktop_1280/m-verkhovina-desktop_1280@2x.jpg 694w,
              ../img/Our-collection/collection-desktop_1440/m-verkhovina-desktop_1440.jpg    400w,
              ../img/Our-collection/collection-desktop_1440/m-verkhovina-desktop_1440@2x.jpg 800w
            "
            sizes="
                (min-width: 1440px) 400px,
                (min-width: 1280px) 347px,
                (min-width: 768px) 342px,
                (max-width: 767px) 335px
                "
            src="../img/Our-collection/collection-mobile/m-verkhovina-mobile.jpg"
            alt="Verkhovina men's shirt"
          />
        </div>
        <div class="our-collection-card-price">
          <h3 class="our-collection-price-title">Men's shirt Verkhovina</h3>
          <p class="our-collection-price-text">3100 UAN</p>
        </div>
      </li>
      <li class="our-collection-card">
        <div class="our-collection-img-box">
          <img
            srcset="
              ../img/Our-collection/collection-mobile/m-mountain-mobile.jpg                335w,
              ../img/Our-collection/collection-mobile/m-mountain-mobile@2x.jpg             670w,
              ../img/Our-collection/collection-tablet/m-mountain-tablet.jpg                342w,
              ../img/Our-collection/collection-tablet/m-mountain-tablet@2x.jpg             684w,
              ../img/Our-collection/collection-desktop_1280/m-mountain-desktop_1280.jpg    347w,
              ../img/Our-collection/collection-desktop_1280/m-mountain-desktop_1280@2x.jpg 694w,
              ../img/Our-collection/collection-desktop_1440/m-mountain-desktop_1440.jpg    400w,
              ../img/Our-collection/collection-desktop_1440/m-mountain-desktop_1440@2x.jpg 800w
            "
            sizes="
                (min-width: 1440px) 400px,
                (min-width: 1280px) 347px,
                (min-width: 768px) 342px,
                (max-width: 767px) 335px
                "
            src="../img/Our-collection/collection-mobile/m-mountain-mobile.jpg"
            alt="Mountain men's shirt"
          />
        </div>
        <div class="our-collection-card-price">
          <h3 class="our-collection-price-title">Mountain men's shirt</h3>
          <p class="our-collection-price-text">3300 UAN</p>
        </div>
      </li>
      <li class="our-collection-card">
        <div class="our-collection-img-box">
          <img
            srcset="
              ../img/Our-collection/collection-mobile/m-yasen-mobile.jpg                335w,
              ../img/Our-collection/collection-mobile/m-yasen-mobile@2x.jpg             670w,
              ../img/Our-collection/collection-tablet/m-yasen-tablet.jpg                342w,
              ../img/Our-collection/collection-tablet/m-yasen-tablet@2x.jpg             684w,
              ../img/Our-collection/collection-desktop_1280/m-yasen-desktop_1280.jpg    347w,
              ../img/Our-collection/collection-desktop_1280/m-yasen-desktop_1280@2x.jpg 694w,
              ../img/Our-collection/collection-desktop_1440/m-yasen-desktop_1440.jpg    400w,
              ../img/Our-collection/collection-desktop_1440/m-yasen-desktop_1440@2x.jpg 800w
            "
            sizes="
                (min-width: 1440px) 400px,
                (min-width: 1280px) 347px,
                (min-width: 768px) 342px,
                (max-width: 767px) 335px
                "
            src="../img/Our-collection/collection-mobile/m-yasen-mobile.jpg"
            alt="Yasen men's shirt"
          />
        </div>
        <div class="our-collection-card-price">
          <h3 class="our-collection-price-title">Men's shirt Yasen</h3>
          <p class="our-collection-price-text">1700 UAN</p>
        </div>
      </li>
    </ul>
  </div>
</section>
