<section class="our-collection">
  <div class="container">
    <h2 class="our-collection-title section-title">Our collection</h2>
    <ul class="our-collection-cards">
      <li class="our-collection-card">
        <picture class="img">
          <!-- Desktop screen 1440 -->
          <source media="(min-width: 1440px)" srcset="
              /img/our-collection/collection-desktop_1440/w-poltava-desktop_1440.jpg    1x,
              /img/our-collection/collection-desktop_1440/w-poltava-desktop_1440@2x.jpg 2x
            " type="image/jpg" />

          <!-- Desktop screen 1280 -->
          <source media="(min-width: 1280px)" srcset="
              /img/our-collection/collection-desktop_1280/w-poltava-desktop_1280.jpg    1x,
              /img/our-collection/collection-desktop_1280/w-poltava-desktop_1280@2x.jpg 2x
            " type="image/jpg" />

          <!-- Tablet screen -->
          <source media="(min-width: 768px)" srcset="
              /img/our-collection/collection-tablet/w-poltava-tablet.jpg    1x,
              /img/our-collection/collection-tablet/w-poltava-tablet@2x.jpg 2x
            " type="image/jpg" />

          <!-- Mobile screen -->
          <source media="(max-width: 767px)" srcset="
              /img/our-collection/collection-mobile/w-poltava-mobile.jpg    1x,
              /img/our-collection/collection-mobile/w-poltava-mobile@2x.jpg 2x
            " type="image/jpg" />

          <img class="card-img" src="/img/our-collection/collection-mobile/w-poltava-mobile@2x.jpg"
            alt="August Poltava women's blousering" loading="lazy" />
        </picture>
        <div class="our-collection-card-price">
          <h3 class="our-collection-price-title">
            August Poltava women's blouse
          </h3>
          <p class="our-collection-price-text">3300 UAH</p>
        </div>
      </li>
      <li class="our-collection-card">
        <picture>
          <!-- Desktop screen 1440 -->
          <source media="(min-width: 1440px)" srcset="
              /img/our-collection/collection-desktop_1440/w-gorgany-desktop_1440.jpg    1x,
              /img/our-collection/collection-desktop_1440/w-gorgany-desktop_1440@2x.jpg 2x
            " type="image/jpg" />

          <!-- Desktop screen 1280 -->
          <source media="(min-width: 1280px)" srcset="
              /img/our-collection/collection-desktop_1280/w-gorgany-desktop_1280.jpg    1x,
              /img/our-collection/collection-desktop_1280/w-gorgany-desktop_1280@2x.jpg 2x
            " type="image/jpg" />

          <!-- Tablet screen -->
          <source media="(min-width: 768px)" srcset="
              /img/our-collection/collection-tablet/w-gorgany-tablet.jpg    1x,
              /img/our-collection/collection-tablet/w-gorgany-tablet@2x.jpg 2x
            " type="image/jpg" />

          <!-- Mobile screen -->
          <source media="(max-width: 767px)" srcset="
              /img/our-collection/collection-mobile/w-gorgany-mobile.jpg    1x,
              /img/our-collection/collection-mobile/w-gorgany-mobile@2x.jpg 2x
            " type="image/jpg" />

          <img class="card-img" src="/img/our-collection/collection-mobile/w-gorgany-mobile@2x.jpg"
            alt="Gorgany women's blouse" loading="lazy" />
        </picture>
        <div class="our-collection-card-price">
          <h3 class="our-collection-price-title">Women's blouse Gorgany</h3>
          <p class="our-collection-price-text">3350 UAH</p>
        </div>
      </li>
      <li class="our-collection-card">
        <picture>
          <!-- Desktop screen 1440 -->
          <source media="(min-width: 1440px)" srcset="
              /img/our-collection/collection-desktop_1440/w-crimea-desktop_1440.jpg    1x,
              /img/our-collection/collection-desktop_1440/w-crimea-desktop_1440@2x.jpg 2x
            " type="image/jpg" />

          <!-- Desktop screen 1280 -->
          <source media="(min-width: 1280px)" srcset="
              /img/our-collection/collection-desktop_1280/w-crimea-desktop_1280.jpg    1x,
              /img/our-collection/collection-desktop_1280/w-crimea-desktop_1280@2x.jpg 2x
            " type="image/jpg" />

          <!-- Tablet screen -->
          <source media="(min-width: 768px)" srcset="
              /img/our-collection/collection-tablet/w-crimea-tablet.jpg    1x,
              /img/our-collection/collection-tablet/w-crimea-tablet@2x.jpg 2x
            " type="image/jpg" />

          <!-- Mobile screen -->
          <source media="(max-width: 767px)" srcset="
              /img/our-collection/collection-mobile/w-crimea-mobile.jpg    1x,
              /img/our-collection/collection-mobile/w-crimea-mobile@2x.jpg 2x
            " type="image/jpg" />

          <img class="card-img" src="/img/our-collection/collection-mobile/w-crimea-mobile@2x.jpg"
            alt="Crimea women's blouse" loading="lazy" />
        </picture>
        <div class="our-collection-card-price">
          <h3 class="our-collection-price-title">Women's blouse Crimea</h3>
          <p class="our-collection-price-text">4000 UAH</p>
        </div>
      </li>
      <li class="our-collection-card">
        <picture>
          <!-- Desktop screen 1440 -->
          <source media="(min-width: 1440px)" srcset="
              /img/our-collection/collection-desktop_1440/m-verkhovina-desktop_1440.jpg    1x,
              /img/our-collection/collection-desktop_1440/m-verkhovina-desktop_1440@2x.jpg 2x
            " type="image/jpg" />

          <!-- Desktop screen 1280 -->
          <source media="(min-width: 1280px)" srcset="
              /img/our-collection/collection-desktop_1280/m-verkhovina-desktop_1280.jpg    1x,
              /img/our-collection/collection-desktop_1280/m-verkhovina-desktop_1280@2x.jpg 2x
            " type="image/jpg" />

          <!-- Tablet screen -->
          <source media="(min-width: 768px)" srcset="
              /img/our-collection/collection-tablet/m-verkhovina-tablet.jpg    1x,
              /img/our-collection/collection-tablet/m-verkhovina-tablet@2x.jpg 2x
            " type="image/jpg" />

          <!-- Mobile screen -->
          <source media="(max-width: 767px)" srcset="
              /img/our-collection/collection-mobile/m-verkhovina-mobile.jpg    1x,
              /img/our-collection/collection-mobile/m-verkhovina-mobile@2x.jpg 2x
            " type="image/jpg" />

          <img class="card-img" src="/img/our-collection/collection-mobile/m-verkhovina-mobile@2x.jpg"
            alt="Verkhovina men's shirt" loading="lazy" />
        </picture>
        <div class="our-collection-card-price">
          <h3 class="our-collection-price-title">Men's shirt Verkhovina</h3>
          <p class="our-collection-price-text">3100 UAH</p>
        </div>
      </li>
      <li class="our-collection-card">
        <picture>
          <!-- Desktop screen 1440 -->
          <source media="(min-width: 1440px)" srcset="
              /img/our-collection/collection-desktop_1440/m-mountain-desktop_1440.jpg    1x,
              /img/our-collection/collection-desktop_1440/m-mountain-desktop_1440@2x.jpg 2x
            " type="image/jpg" />

          <!-- Desktop screen 1280 -->
          <source media="(min-width: 1280px)" srcset="
              /img/our-collection/collection-desktop_1280/m-mountain-desktop_1280.jpg    1x,
              /img/our-collection/collection-desktop_1280/m-mountain-desktop_1280@2x.jpg 2x
            " type="image/jpg" />

          <!-- Tablet screen -->
          <source media="(min-width: 768px)" srcset="
              /img/our-collection/collection-tablet/m-mountain-tablet.jpg    1x,
              /img/our-collection/collection-tablet/m-mountain-tablet@2x.jpg 2x
            " type="image/jpg" />

          <!-- Mobile screen -->
          <source media="(max-width: 767px)" srcset="
              /img/our-collection/collection-mobile/m-mountain-mobile.jpg    1x,
              /img/our-collection/collection-mobile/m-mountain-mobile@2x.jpg 2x
            " type="image/jpg" />

          <img class="card-img" src="/img/our-collection/collection-mobile/m-mountain-mobile@2x.jpg"
            alt="Mountain men's shirt" loading="lazy" />
        </picture>
        <div class="our-collection-card-price">
          <h3 class="our-collection-price-title">Mountain men's shirt</h3>
          <p class="our-collection-price-text">3300 UAH</p>
        </div>
      </li>
      <li class="our-collection-card">
        <picture>
          <!-- Desktop screen 1440 -->
          <source media="(min-width: 1440px)" srcset="
              /img/our-collection/collection-desktop_1440/m-yasen-desktop_1440.jpg    1x,
              /img/our-collection/collection-desktop_1440/m-yasen-desktop_1440@2x.jpg 2x
            " type="image/jpg" />

          <!-- Desktop screen 1280 -->
          <source media="(min-width: 1280px)" srcset="
              /img/our-collection/collection-desktop_1280/m-yasen-desktop_1280.jpg    1x,
              /img/our-collection/collection-desktop_1280/m-yasen-desktop_1280@2x.jpg 2x
            " type="image/jpg" />

          <!-- Tablet screen -->
          <source media="(min-width: 768px)" srcset="
              /img/our-collection/collection-tablet/m-yasen-tablet.jpg    1x,
              /img/our-collection/collection-tablet/m-yasen-tablet@2x.jpg 2x
            " type="image/jpg" />

          <!-- Mobile screen -->
          <source media="(max-width: 767px)" srcset="
              /img/our-collection/collection-mobile/m-yasen-mobile.jpg    1x,
              /img/our-collection/collection-mobile/m-yasen-mobile@2x.jpg 2x
            " type="image/jpg" />

          <img class="card-img" src="/img/our-collection/collection-mobile/m-yasen-mobile@2x.jpg"
            alt="Yasen men's shirt" loading="lazy" />
        </picture>
        <div class="our-collection-card-price">
          <h3 class="our-collection-price-title">Men's shirt Yasen</h3>
          <p class="our-collection-price-text">1700 UAH</p>
        </div>
      </li>
    </ul>
  </div>
</section>