.our-collection .container {
  padding-bottom: 80px;
}

.our-collection-card {
  position: relative;
}

.our-collection-card:first-child::before {
  content: '';
  background: url(/img/our-collection/collection-mobile/background-element.png) 0 0 / 100% no-repeat;
  width: 199px;
  height: 177px;
  position: absolute;
  top: 214px;
  left: -147px;
  z-index: -1;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .our-collection-card:first-child::before {
    background-image: url(/img/our-collection/collection-mobile/background-element@2x.png);
  }
}

.our-collection-title {
  font-style: normal;
  text-align: center;
  margin-bottom: 40px;
}

.our-collection-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

img {
  border-radius: 4px;
}

.our-collection-price-title {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-top: 18px;
  margin-bottom: 8px;
}

.our-collection-price-text {
  color: var(--gray);
  font-size: 14px;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.05em;
}

@media screen and (min-width: 768px) {
  .our-collection .container {
    padding-bottom: 100px;
  }

  .our-collection-card:first-child::before {
    background: url(/img/our-collection/collection-tablet/background-element.png);
    width: 338px;
    height: 300px;
    top: 116px;
    left: -256px;
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .our-collection-card:first-child::before {
      background-image: url(/img/our-collection/collection-tablet/background-element@2x.png);
      background-size: 338px 300px;
    }
  }

  .our-collection-title {
    line-height: 1.45;
  }

  .our-collection-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }

  .our-collection-card {
    width: calc((100% - 20px) / 2);
  }

  .our-collection-price-title {
    font-size: 18px;
  }

  .our-collection-price-text {
    font-size: 18px;
  }
}

@media screen and (min-width: 1280px) {
  .our-collection .container {
    padding-bottom: 150px;
  }

  .our-collection-card:first-child::before {
    background: url(/img/our-collection/collection-desktop_1280/background-element.png);
    top: 117px;
    left: -270px;
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .our-collection-card:first-child::before {
      background-image: url(/img/our-collection/collection-desktop_1280/background-element@2x.png);
      background-size: 338px 300px;
    }
  }

  .our-collection-cards {
    gap: 40px 20px;
  }

  .our-collection-card {
    width: calc((100% - 2 * 20px) / 3);
  }
}

@media screen and (min-width: 1440px) {
  .our-collection-card:first-child::before {
    background: url(/img/our-collection/collection-desktop_1440/background-element.png);
    top: 127px;
    left: -270px;
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .our-collection-card:first-child::before {
      background-image: url(/img/our-collection/collection-desktop_1440/background-element@2x.png);
    }
  }

  .our-collection-card {
    width: calc((100% - 2 * 20px) / 3);
  }
}