.testi-section {
    padding-top: 0;
    padding-bottom: 80px;
}
.testi-title {
    margin-bottom: 64px;
}

.testi-item {
    border-radius: 4px;
    border: 1px solid rgba(252, 249, 249, 0.10);

    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 18px;
}

.testi-card {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 54px;
}

.testi-img {
    position: absolute;
    left: 50%;
    top: -24px;
    transform: translateX(-50%);
}

.testi-img {

    border-radius: 64px;
    /* background: url(<path-to-image>), lightgray 50% / cover no-repeat; */
    box-shadow: 0px 1px 4px 0px rgba(16, 24, 40, 0.06);
}

.testi-card-name {
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 8px;
}
.testi-card-text {
    text-align: center;
    color: rgba(252, 249, 249, 0.40);
    font-size: 14px;
}

.testi-second {
    display: none;
}

.testi-third {
    display: none;
}

@media screen and (min-width: 768px) {
    .testi-section {
        padding-top: 0;
        padding-bottom: 100px;
    }
    .testi-item {
        min-height: 286px;
        padding-left: 17px;
        padding-right: 17px;
    }
    .testi-second {
        display: block;
    }
    .testi-list {
        display: flex;
        gap: 32px;
        flex-basis: calc((100% - (32px * 1)) / 2);
    }
    .testi-card-name {
        font-size: 20px;
    }
    .testi-card-text {
        font-size: 16px;
        }
}

@media screen and (min-width: 1280px) {
    .testi-section {
        padding-top: 0;
        padding-bottom: 150px;
    }
    .testi-third {
        display: block;
    }

    .testi-list {
        display: flex;
        gap: 26px;
    }
}
